<h3> Welcome caregivers, need help? Signup here </h3>
<form action='/signup' method='post'>

    <input type='text' name='username' placeholder="Enter username">
    <input type='email' name='email' placeholder="Enter email">
    <input type='password' name='password' placeholder="Enter a password">
    <input type='submit' value='Signup'>
</form>
