<div class="container">
  <header><img src="https://media.makeameme.org/created/tantrums-tantrums-everywhere.jpg" class="temper-tantrum-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h1>Behavioral Log</h1>

    <div class="content">
      <p>Welcome to the Behavioral Log! Are you a parent/ an educator who see your child(ren)'s struggle with tantrums more than once a week or sometimes multiple times a day? As parent/educator, sometimes the struggle is not knowing what cause the tantrum/challenging behaviors so that you can be proactive in preventing the behaviors. This behavioral log will track the date, time, and places of of the incidents. This information is important to know why a child might behavior a certain way.' </p>
    </div>

    <div class="sidebar">
    <h5>Please log-in or sign-up to access your behavioral log</h5>
    <br/>
      <a href="/signup">Sign Up</a>
    <br/>
      <a href="/login">Log In</a>
    </div>

  </div>
</div>
